body {
	background-color: black;
	font-size: 1.5em;
}
footer, section {
	min-height: 600px;
}
header, #gui, #api {
	padding-top: 60px;
	background-color: #79c3d2;
	color: #143352;
	// box-shadow: 0 -2px 5px black;
}
#synopsis, #guide, #about {
	padding-top: 60px;
	background-color: #2e2e2e;
	color: #eaf2d9;
	// text-shadow: 0 -1px 1px #262626;
}
pre {
	padding: 1px;
	font-size: 1.5em;
}
